*{
    margin:0
}
.table{
    border: 1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(208, 157, 255);
    flex-direction: column;
    row-gap: 10px;
}

.form{
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 40px;
        background-color: aliceblue;
        padding: 50px;
        border-radius: 1rem;
        
}

.form input{
    width: 100%;
    padding: 10px;
    border-radius: 0.3rem;
    border:0;
    border: 1px solid black;
    outline:none
}

.form select {
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    border: 0;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.form button{
    background-color: blueviolet;
    color: white;
    width: 100%;
    border:0;
    padding: 10px;
    border-radius: 0.4rem;
}

.form button:hover{
    -webkit-box-shadow: 4px 7px 5px 0px rgba(219,219,219,1);
-moz-box-shadow: 4px 7px 5px 0px rgba(219,219,219,1);
box-shadow: 4px 7px 5px 0px rgba(219,219,219,1);
}


.table{
    border: 2;
    gap: 10px;
}

